i{
    background-color: #be9c79;
    color: #ffffff;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.footHead{
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--ffSecondary);
    color: var(--secondaryColor);
}

.footText{
    font-size: 2rem;
    font-family: var(--ffSecondary);
    color: var(--secondaryColor);
}

hr{
    border: 1px solid var(--darkColor);
}

.spanItem{
    color: #be9c79;
}

.regularText{
    font-size: 1.5rem;
    font-family: var(--ffSecondary);
    color: var(--secondaryColor);
}

.regularButton{
    background-color: var(--tertiaryColor);
    font-size: 1.6rem;
}

.buttonFont{
    font-size: 2rem;
    font-family: var(--ffSecondary);
    font-weight: 500;
}

.btn-hover:hover{
    background-color: var(--darkColor);
    color: var(--primaryColor);
}

.formTitle{
    font-size: 3.5rem;
    font-family: var(--ffSecondary);
    color: var(--secondaryColor);
}

::placeholder{
    font-size: 2.5rem;
}

.img-fluid{
    height: 4rem;
}

.headingFont{
    font-size: 4rem;
    font-family: var(--ffPrimary);
    color: var(--secondaryColor);
    font-weight: 800;
}

.heroFont{
    font-size: 5rem;
    font-family: var(--ffPrimary);
    color: var(--secondaryColor);
    font-weight: 800;
}

.aboutFont{
    font-size: 4rem;
    font-family: var(--ffPrimary);
    color: var(--secondaryColor);
    font-weight: 800;
    margin-bottom: 2rem;
}

.heroSection{
    background-color: #ffffff;
    background-image: url(./assets/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh);
    background-size: cover;
    top: 0;
}